*{

-fx-font-type:"Ariel";



}



.hidden{
-fx-position:absolute;
-fx-left:-100000000000000px;
-fx-overflow:hidden;

}
.hidden2{
-fx-display:none;

}



.titel{
-fx-font-size:22px;

}

.uitgeschakeld{
-fx-background-color:"red"

}

.menuTitel{

-fx-font-weight:bold;
}

.button{
-fx-focus-insets: "5px";
-fx-focus-color: "purple";
}

.posEnNeg{
-fx-margin:50;
-fx-border-radius:50%;

}

.vragenButton{
-fx-background-color:"#eef1ff";
-fx-margin:40px;
 -fx-background-radius:25%;
-fx-border-radius:25%;
-fx-border-width:3px;
-fx-border-color:purple;

  -fx-focus-color: red;
    -fx-faint-focus-color: #ff000022;
}





.vragenButton:hover{
/*-fx-border-color:#8B0000;
-fx-background-color:"#FF0000";*/
-fx-cursor:"Hand"
}

#focusButton{


-fx-background-color:RGB(223,245,251)!important;
-fx-border-color:#0000EF;

}

.hulpVBox{

-fx-padding:15px;

}

.persoon{
-fx-cursor:hand;
-fx-margin:0;
-fx-padding:0;
}

.achtergrondTekst{

-fx-font-size:300;
-fx-font-weight:bold;
-fx-font-color:white;



}

.bevestiginsbuttonDisabled{
-fx-opacity:0.3!important;



}

.bord{
-fx-font-size:15;
/*-fx-margin:0,0,30,30;*/
}

.positiefEnNegatief{

-fx-cursor: hand;
-fx-focus-color: transparent!important;
-fx-font-weight:bold;
-fx-padding:30;
  -fx-background-insets: 10000000, 1000000000, 1, 2;

  }

  .foutiefAntwoord{
-fx-font-size: 18;



  }

  #bevestiginsbutton{

  -fx-cursor: hand;
  -fx-focus-color: transparent;
  -fx-font-weight:bold;
  -fx-padding:30;
    -fx-background-insets: 10000000, 1000000000, 1, 2;



  }

.menu-bar .label {
-fx-content-display:top;

}

.menu-item:focused {
-fx-color:white!important;
-fx-background-color:RGB(49, 78, 130)!important;

-fx-cursor:hand;
}


.menu-bar:focused {
-fx-color:purple!important;
-fx-background-color:blue!important;

-fx-cursor:hand;
}
.auteurs{
-fx-font-weight:bold;
-fx-font-color:white;
-fx-font-size:25;
}
