.hidden{
-fx-position:absolute;
-fx-left:-100000000000000px;
-fx-overflow:hidden;

}
.hidden2{
-fx-display:none;

}



.titel{
-fx-font-size:22px;

}

.uitgeschakeld{
-fx-background-color:"red"

}

.menuTitel{

-fx-font-weight:bold;
}

.button{
-fx-focus-insets: "5px";
-fx-focus-color: "purple";
}

.posEnNeg{
-fx-margin:50;
-fx-border-radius:50%;

}

.vragenButton{
-fx-background-color:"#eef1ff";
-fx-margin:40px;
 -fx-background-radius:25%;
-fx-border-radius:25%;
-fx-border-width:3px;
-fx-border-color:purple;

  -fx-focus-color: red;
    -fx-faint-focus-color: #ff000022;
}

.vragenButton:pressed{
-fx-background-color:"green";

}



.vragenButton:hover{
-fx-border-color:#8B0000;
-fx-background-color:"#FF0000";
-fx-cursor:"Hand"
}

#focusButton{

-fx-color:#970017;
-fx-background-color:red!important;


}

.hulpVBox{

-fx-padding:15px;

}

.persoon{
-fx-cursor:hand
}

.achtergrondTekst{

-fx-font-size:300;
-fx-font-weight:bold;
-fx-font-color:white;



}

.bevestiginsbuttonDisabled{
-fx-opacity:0.3;



}